<div class="container">
  <div class="column">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>LASTNAME</th>
        </tr>
      </thead>
      <tbody>
        @if(users.length > 0) {
        @for(user of users; track user) {
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.lastname}}</td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
  <div class="column">
    <form [formGroup]="fg">
      <mat-form-field appeareance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appeareance="outline">
        <mat-label>Lastname</mat-label>
        <input type="text" matInput formControlName="lastname">
      </mat-form-field>
      <button mat-flat-button (click)="onAdd()">Add user</button>
    </form>
  </div>
</div>